{% extends "dashboard/base.html" %}

{% block content %}
<div class="other-container top-content top-background">
  <h2 class="other-header color-primary">About This Site</h2>
  <p>I wanted more recent view of home sales than what Zillow could show. <br>Also, I wanted something grouped by neighborhood.
    So I made this.</p>
  <p>The big icons are Nashville neighborhoods. Click them to get a list of home sales.
    <br>The smaller icons are the sold homes.</p>
  <p>It currently only shows Single Family home sales</p>
  <p>The data is obtained from padctn.org on a weekly basis</p>
</div>
{% endblock %}
