{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nash Neighborhoods</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{% static 'dashboard/fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'dashboard/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/templatemo-ocean-vibes.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>
<body>
    <div class="header-div">
        <header class="tm-site-header">
            <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Nashville</span>
                <span class="tm-color-gray-2">Neighborhoods</span></h1>
        </header>
    </div>

    <div id="map" class="map-container"></div>

<footer class="tm-footer">
        <span>Copyright &copy; 2020 Your Company</span>
        <span>Web Designed by
        <a href="https://templatemo.com" title="free website templates" target="_parent" rel="nofollow">TemplateMo</a></span>
</footer>

    <script src="{% static 'dashboard/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'dashboard/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'dashboard/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'dashboard/js/templatemo-script.js' %}"></script>
</body>
{% block mapscript %}
<script>
    document.write('Hello, World!');
</script>
{% endblock %}
</html>
