{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nash Neighborhoods</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{% static 'dashboard/fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'dashboard/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/templatemo-ocean-vibes.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/line-graph.css' %}" type="text/css">
<!--
    
TemplateMo 554 Ocean Vibes

https://templatemo.com/tm-554-ocean-vibes

-->
</head>
<body>
    <div class="header-div">
        <header class="tm-site-header">
            <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Nashville</span>
                <span class="tm-color-gray-2">Neighborhoods</span></h1>
        </header>
    </div>

    <div class="map-container">
        <iframe id="map-container-id", src="{% static 'dashboard/html/base-map.html' %}"></iframe>
    </div>

    <footer class="tm-footer">
        <span>Copyright &copy; 2020 Your Company</span>
        <span>Web Designed by 
        <a href="https://templatemo.com" title="free website templates" target="_parent" rel="nofollow">TemplateMo</a></span>
</footer>

    <script src="{% static 'dashboard/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'dashboard/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'dashboard/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'dashboard/js/templatemo-script.js' %}"></script>
    <script src="{% static 'dashboard/js/line-graph-script.js' %}"></script>

</body>
</html>