html { overflow-x: hidden; }

h1 { font-size: 1.8rem; }

h2{
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1em;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 1em;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

p, em, span, a, address, h3 { color: #e6edfc; }

a:hover, a.active { color: #309AFD; }

a {
    text-decoration: none;
    transition: all 0.3s ease;
}
.color-primary{
    color: #e6edfc;
}

.checkbox-container ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkbox-container li{
    padding: 0px 0px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label{
    text-overflow: ellipsis;
}

form{
    display: flex;
    flex-direction: column;
}

.top-background{
    background-color: #202536;
}

.top-content{
    height:50vh;
    padding: 50px;
    color: #e6edfc;
}

.landing{
    display: flex;
    padding: 10px;
    height: 100%;
}

.landing-box{
    flex: 1;
}

.second-background{
    background-color: #d4d6d9;
}

.second-content{
    height:85vh;
}

.header-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 35px 0px;
}

.header-span{
    margin: 2px 0px;
    display: inline-block;
    white-space:pre;
}

.header-label{
    min-width: 30vw;
}

.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
    min-width: 30vw;
}

.header-link{
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: #e6edfc;
    padding: 8px;
    text-align:center;
    flex: 1
}

.other-header{
    margin: 0px;
    font-size: 1.875em;
    padding: 10px 50px;
}

.other-container{
    line-height: 1.8em;
    padding: 0px 35px;
}

.sub-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 35px 10px 35px;
    text-align: center;
    white-space: normal;
}

.sub-header p{
color: #facea7;
}

.map-container{
    padding: 10px 35px 10px 35px;
    text-align:center;
    height: 75vh;
}

#map{
    height: 75vh;
}

.tableFixHead {
        max-height: 300px;
        overflow: auto;
  }

.tableFixHead table{
    border: 1px solid;
  }

.tableFixHead td{
  }

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group div{
    flex: 1;
    display: flex;
}

.form-group label{
    color: #e6edfc;
    justify-content: flex-start;
    width: 100px;
    text-overflow: ellipsis;
}

.form-group input{
    justify-content: flex-end;
}

.checkbox-input{
    font-size: 14px;
    min-width: 0;

}

.checkbox-container{
    border:2px solid #ccc;
    overflow-y: scroll;
    margin-left: 75%;
    height: 100%;
}

footer{
    display: flex
}

.nrhs-ad{
    height:100px;
    width: 50%;
    margin: auto;
    border-style: solid;
}